In [3]:
import xarray as xr
import pandas as pd
from pathlib import Path

from tabularbench.core.enums import BenchmarkOrigin
from tabularbench.data.metadata import create_metadata

metadata = create_metadata(benchmark_origin=BenchmarkOrigin.WHYTREES)
metadata

,openml_dataset_name,n_observations,n_features,n_splits,n_train,n_val,n_test
openml_dataset_id,,,,,,,
44055,analcatdata_supreme,4052,7,5,2836,364,852
44056,visualizing_soil,8641,4,3,6048,777,1816
44059,diamonds,53940,9,1,10000,13182,30758
44061,Mercedes_Benz_Greener_Manufacturing,4209,359,5,2946,378,885
44062,Brazilian_houses,10692,11,3,7484,962,2246
44063,Bike_Sharing_Demand,17379,11,2,10000,2213,5166
44065,nyc-taxi-green-dec-2016,581835,16,1,10000,50000,50000
44066,house_sales,21613,17,1,10000,3483,8130
44068,particulate-matter-ukair-2017,394299,6,1,10000,50000,50000
44069,SGEMM_GPU_kernel_performance,241600,9,1,10000,50000,50000
44089,credit,16714,10,2,10000,2014,4700
44120,electricity,38474,7,1,10000,8542,19932
44121,covertype,566602,10,1,10000,50000,50000
44122,pol,10082,26,3,7057,907,2118
44123,house_16H,13488,16,3,9441,1214,2833
44125,MagicTelescope,13376,10,3,9363,1203,2810
44126,bank-marketing,10578,7,3,7404,952,2222
44128,MiniBooNE,72998,50,1,10000,18899,44099
44129,Higgs,940160,24,1,10000,50000,50000
44130,eye_movements,7608,20,3,5325,684,1599
44132,cpu_act,8192,21,3,5734,737,1721
44133,pol,15000,26,2,10000,1500,3500
44134,elevators,16599,16,2,10000,1979,4620
44136,wine_quality,6497,11,3,4547,585,1365
44137,Ailerons,13750,33,3,9625,1237,2888
44138,houses,20640,8,1,10000,3192,7448
44139,house_16H,22784,16,1,10000,3835,8949
44140,diamonds,53940,6,1,10000,13182,30758
44141,Brazilian_houses,10692,8,3,7484,962,2246
44142,Bike_Sharing_Demand,17379,6,2,10000,2213,5166
44143,nyc-taxi-green-dec-2016,581835,9,1,10000,50000,50000
44144,house_sales,21613,15,1,10000,3483,8130
44145,sulfur,10081,6,3,7056,907,2118
44146,medical_charges,163065,3,1,10000,45919,50000
44147,MiamiHousing2016,13932,13,3,9752,1254,2926
44148,superconduct,21263,79,1,10000,3378,7885
44156,electricity,38474,8,1,10000,8542,19932
44157,eye_movements,7608,23,3,5325,684,1599
44159,covertype,423680,54,1,10000,50000,50000
45019,Bioresponse,3434,419,5,2403,309,722
45020,default-of-credit-card-clients,13272,20,3,9290,1194,2788
45021,jannis,57580,54,1,10000,14274,33306
45022,Diabetes130US,71090,7,1,10000,18327,42763
45026,heloc,10000,22,3,7000,900,2100
45028,california,20634,8,1,10000,3190,7444
45032,yprop_4_1,8885,42,3,6219,799,1867
45033,abalone,4177,7,5,2923,376,878
45034,delays_zurich_transport,5465575,8,1,10000,50000,50000
45035,albert,58252,31,1,10000,14475,33777
45036,default-of-credit-card-clients,13272,21,3,9290,1194,2788
45038,road-safety,111762,32,1,10000,30528,50000
45039,compas-two-years,4966,11,3,3476,447,1043
45041,topo_2_1,8885,255,3,6219,799,1867
45042,abalone,4177,8,5,2923,376,878
45043,seattlecrime6,52031,4,1,10000,12609,29422
45045,delays_zurich_transport,5465575,11,1,10000,50000,50000
45046,Allstate_Claims_Severity,188318,124,1,10000,50000,50000
45047,Airlines_DepDelay_1M,1000000,5,1,10000,50000,50000
45048,medical_charges,163065,3,1,10000,45919,50000

In [4]:
metadata = create_metadata(BenchmarkOrigin.TABZILLA)
metadata

,openml_dataset_name,n_observations,n_features,n_splits,n_train,n_val,n_test
openml_dataset_id,,,,,,,
3,kr-vs-kp,3196,36,10,2556,320,320
4,labor,57,16,10,45,6,6
5,arrhythmia,452,279,10,360,46,46
6,letter,20000,16,10,16000,2000,2000
7,audiology,226,69,10,180,23,23
...,...,...,...,...,...,...,...
189355,dionis,416188,60,10,332950,41619,41619
189356,albert,425240,78,10,340192,42524,42524
190408,Click_prediction_small,39948,11,10,31958,3995,3995
190410,philippine,5832,308,10,4664,584,584
360948,libras,360,104,10,288,36,36